{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./"
                ],
                "alias": {
                    "@Styles": "./styles",
                    "@Components": "./components"
                }
            }
        ]
    ]
}