.bodyContainer {
    margin: 0px;
    padding: 1rem 2rem;
    @media (max-width: 499px) {
        padding: 0.5rem;
    }
    
    .LayoutContainer{
        z-index: 1;
        max-width: 110rem;
        background-color: #fff;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        box-shadow: 0 0 50px rgba(0,0,0,.1);
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding: 2rem 4rem;
        @media (max-width: 499px) {
            margin: 0px;
            padding: 1rem 1.5rem;
        }
    }
}